.detail-container {
    display : flex;
    justify-content : center;
    align-items : center;

}

.detail-card {
    width : 50%;
    background-color : aquamarine;
    border-radius : 5px;
    padding :5px 20px;

}