.detail-container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.detail-card {
  width: 80%;
  background-color: rgb(178, 230, 212);
  border-radius: 5px;
  padding: 5px 20px;
}

.activity-image {
  width: 100%;
  height: auto;
}

.activity-description {
  font-size: 1.3em;
  text-align: center;
  padding: 1em;
}
