.activities-display {
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
  background-color: #5fada9b0;
}

.activity-image {
  width: 200px;
  height: auto;
  border-radius: 15px;
}

.activity-name {
  font-size: 1.2em;
  font-weight: bold;
  align-self: flex-end;
  color: rgb(6, 91, 131);
}

.activity-content {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}
