.header-items-public {
  display: flex;
  margin: 0 0 0 1em;
  gap: 1em;
}

.header-item{
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 100;
}

.header-public {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #e3f1ea;
}

img{
  width: 9rem;
  height: 9rem;
  margin: 0 1rem;
}

.buttons{
  position: relative;
  right: -18rem;
}

button{
  margin: 0 1rem;
}